---
layout: post-default
---
<div class="post">

  <section class="article-post">
    {% if page.image.feature %}
      <header class="featured-image" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url('{{page.image.feature}}')">
        <div class="image-container">
          <div class="entry-header-heading">
            <h1 class="post-title dynamic white-text">{{ page.title }}</h1>
            <p class="post-meta white-text">Published on{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} by {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %} <a href="#disqus_thread"></a></p>
          </div>
        </div><!-- .image-container -->
        {% if page.image.credit %}
          <div class="image-credit white-text">Image source: <a href="{{ page.image.creditlink}}">{{ page.image.credit }}</a></div>
        {% endif %}
      </header>
    {% else %}
      <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
        <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
        <p><a class="btn" href="#disqus_thread"></a></p>
      </header>
    {% endif %}

    <article class="post-content">
      {{ content }}

      <div id="disqus_thread"></div>
        <script type="text/javascript">
            //var disqus_developer = 1;  Comment out when the site is live

            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'japanstartups'; // required: replace example with your forum shortname
            // var disqus_developer = 1; // Comment out when the site is live
            var disqus_identifier = "{{ page.url }}";

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    </article>
  </section>

</div>

<script id="dsq-count-scr" src="//japanstartups.disqus.com/count.js" async></script>